<caption>{{ tableTitle }}</caption>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Codice Fiscale</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Provincia</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users ">
            <td>{{ user.name }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.fiscalcode }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.province }}</td>
        </tr>
    </tbody>
</table>
