table {
    border: 2px solid grey;
}

td,
th,
table {
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    text-align: center;
}

th {
    border: 1px solid black;
    background-color: black;
    color: lightcyan;
}

td {
    background-color: lightskyblue;
    color: black;
}
