<caption>{{ tableTitle }}</caption>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Codice Fiscale</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Provincia</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- per dichiarare la variabile input dalla quale prendere valori usiamo user-data e gli assegniamo il valore di user -->
        <tr app-user *ngFor="let user of users" [user-data]="user" (onDeleteUser)="onDeleteUser($event)"></tr>
    </tbody>
</table>
