td {
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    text-align: center;
    background-color: lightskyblue;
    color: black;
}

button {
    margin: 2px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.delete {
    background-color: lightcoral;
}

.update {
    background-color: lightgreen;
}
